<footer class="footer mt-auto">
    <div class=" font-weight-light card bg-dark text-muted">
        <div class="card-body py-0">
            <p class="card-title">&copy; 2021 PandaInc.All Rights Reserved.</p>
            <p class="card-text">Follow us!</p>
        </div>
    </div>
</footer>