<% layout('layouts/boilerplate') %>
<div class="card text-center">
    <div class="card-header">
      ERROR!
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= error.status %> </h5>
      <p class="card-text"><%= error.msg %> </p>
  </div>