<% layout('layouts/boilerplate') %>


    <img class="img-fluid"
        src="https://images.unsplash.com/photo-1591325418441-ff678baf78ef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80"
        alt="">

    <div class=" font-weight-bold card text-center bg-danger text-white">
        <div class="card-body my-5">
            <h3 class="card-title">Welcome!</h3>
            <p class="card-text">Begin your search for great ramen with us!</p>
            <a href="/catalogue/search" class="btn btn-warning">Get started</a>
        </div>
    </div>